@import './partial/home/portofilo';
@import './helpers/variables';




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
 
}
.container {
  margin: 0 auto;
  width: 1500px;
  color:$text-color;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

#portfolio {
  background-color: rgb(15 23 42);
.text-name {
    padding: 80px 100px;
    position: fixed;
  }
.page-partials {
    a {
      display: flex;
      flex-direction: column;
      line-height: 30px;
      color: $text-color;
      text-decoration: none;
    }
  }

.site-socialmedia-icons {
    display: flex;
    gap: 20px;
    font-size: 30px;
    position: fixed;
    bottom: 140px;
i {
      color: rgb(171, 173, 176);
      ;
    }
  }

.text-informations {
    padding: 80px 0;
  }
.text-informations-experience {
    padding: 30px;

    .informations-experience-flex {
      display: flex;
      gap: 50px;
      padding: $main-padding;
 .text-informations-date {
        white-space: nowrap;
      }
.text-informations-icon {
        display: flex;
        gap: $main-gap; 
 .icon-text {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
  .text-informations-fields {
    display: flex;
    gap: $main-gap;
    flex-wrap: wrap;

    h5 {
      background-color: black;
      padding: 5px;
      border-radius: 5px;
      color:$primary-color;
      font-size: 15px;
    }
  }
.informations-projects-flex {
    display: flex;
    gap: 30px;
    padding:$main-padding;
.informations-projects-image {
      img {
        width: 120px;
        height: auto
      }
    }
  }
}





